<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Email grid generator for Sons of Bill tour dates</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style type="text/css">
            #copyme {
                width: 500px;
                height: 200px;
                border: 1px solid black;
                resize: none;
                background: rgb(255, 255, 220);
            }
        </style>
    </head>
    <body>

        <h2>Directions:</h2>
        <ol>
            <li>Select All, and copy all code from box below to clipboard.</li>
            <li>Paste it into the fanbridge.com html email source where you want the event listing to go.  It was at bottom in screencast.</li>
        </ol>
        <textarea id="copyme">Loading Events ...</textarea>

        <hr />
        <h2>Code above should look like this in an email:</h2>

        <!-- need to actually generate all html here -->
        <div id="emailhtml">
            <h2 style="font-family: sans-serif;">Upcoming Shows</h2>
            <table style="font-family: sans-serif;" cellspacing="0" cellpadding="0" border="0" width="100%">

                <thead>
                    <th>Date</th>
                    <th>Venue</th>
                    <th>Location</th>
                    <th>Tickets</th>
                </thead>

                <tbody></tbody>

            </table>
        </div>



        <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="/lodash/dist/lodash.min.js"></script>
        <script type="text/javascript">
            var printEmailHtml = function() {
                return $('#emailhtml').html();
            }

            var addEmailHtmlToCopyBox = function(){
                var emailhtml = printEmailHtml().trim(),
                    $copyBox = $('#copyme');
                $copyBox.val(emailhtml);
            };

            var tourEvents;
            $.get('/events', function(data) {
                tourEvents = data;
                addFormattedTourDate(tourEvents);
                render(tourEvents);
                addEmailHtmlToCopyBox();
            });

            var addFormattedTourDate = function(tourEvents) {
                _.each(tourEvents, function(tEvent) {
                    tEvent.tourDateForPrintOut = moment(tEvent.datetime).format('MMM D');
                });
            };

            var render = function(tourEvents) {
                var $tableBody = $('#emailhtml').find('tbody');
                _.each(tourEvents, function(tEvent) {
                    var date = tEvent.tourDateForPrintOut;
                    var venue = tEvent.venue.name;
                    var location = tEvent.formatted_location;
                    var ticketLink = tEvent.ticket_url;
                    var rsvpLink = 'http://www.bandsintown.com/event/'+tEvent.id+'?app_id=sonsofbill_email_html_generator&artist=Sons+of+Bill';
                    var rowTemplate = '<tr style="font-family: sans-serif;">'+
                        '<td width="100">'+date+'</td>'+
                        '<td>'+venue+'</td>'+
                        '<td>'+location+'</td>'+
                        '<td><a href="'+ticketLink+'" target="_blank">Tickets</a></td>'+
                        '<td><a style="background: #ccc;border: 1px solid #000;display: inline-block;padding: 3px;color: black;text-decoration: none;font-family: sans-serif;" href="'+rsvpLink+'" target="_blank">RSVP</a></td>'+
                    '</tr>';
                    $tableBody.append(rowTemplate);
                });
            };

        </script>
    </body>
</html>
